body {
	font-family:Tahoma;
}

#calendar{
	width:90%;
	align-items: center;
}

#calendar a{
	color:#665;
	text-decoration: none;
}

#calendar ul{
	list-style: none;
	padding:0;
	margin:0;
	clear:both;
	width:100%;
}

#calendar li {
	display:block;
	float:left;
	width:14.2857142857%;
	padding:5px;
	/* Specify that <div> elements should have padding and border included in 
	    the element's total width and height*/
	box-sizing:border-box;
	border: solid 1px #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays{
	height:40px;
	background:#333;
}

#calendar ul.weekdays li{
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border:none !important;
	padding:10px 6px;
	color:#fff;
	font-size: 13px;
}

#calendar .days li{
	height:200px;
	background: #e6f2ff;

}

#calendar .daysch li{
	height:160px;
	background: #e6f2ff;

}

#calendar .daysg li{
	height:300px;
	background: #e6f2ff;

}

#calendar .days li:hover{
	background:#eee;
}

#calendar .date{
text-align: center;
margin-bottom:5px;
padding:5px;
background-color: #333;
color:#fff;
width:25px;
border-radius:50%;
float:right;
}

/*----------------------------------*/
#calendar .eventTla{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#e4f2f2;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}


#calendar .eventAtlixco{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#99ffbb;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}

#calendar .eventPahua{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#809fff;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}

#calendar .eventChignahuapan{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#ff3333;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}
#calendar .eventCuetzalan{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#ff6600;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}
#calendar .eventCholula{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#e6e600;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}


#calendar .eventXicotepec{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color: #ff80df;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}

#calendar .eventHuauchinango{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color: #cc9966;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}

#calendar .eventZacatlan{
	clear:both;
	display:block;
	font-size: 13px;
	border-radius:4px;
	padding:5px;
	margin-bottom: 5px;
	line-height: 14px;
	background-color:#c2c2a3;
	border:1px solid #b5dbdc;
	color:#009aaf;
	text-decoration: none;
}

#calendar .event-description {
	color:#555;
	margin:3px 0 7px 0;
	text-decoration: none;

}

#calendar .other-month{
	background:#f5f5f5;
	color:#ddd;

}

/* responsive settings */

@media(max-width: 768px){
	#calendar .weekdays, #calendar .other-month,{
		display:none;
	}

	#calendar li{
		height:auto !important;
		border:1px solid #ededed;
		width:100%;
		padding:10px;
		margin-bottom:-1px;

	}

	#calendar .date{
		float:none;
	}	
}


